@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Roboto:wght@100;400;700&display=swap');
html {
    scroll-behavior: smooth;/* The scroll behavior. */ 
}


h1 {
    color: forestgreen;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5em;
}

h2 {
    color: rgb(15, 30, 31);
    text-align: center;
}

h4 {
    text-align: center;
    font-family: 'Hachi Maru Pop';
}

p {
    text-align: center;
    font-style: italic;

}

.price{
    text-align: center;
    font-family: 'Hachi Maru Pop';
    color: rgb(21, 126, 52)
}

body {
    font-family: 'Roboto', 'Regular 400', sans-serif;
    background-color: rgb(188, 218, 231);
}
a {
    text-decoration-line: unset;
    text-decoration-style:inherit;
    text-decoration-color: inherit;
    text-decoration: inherit;
}

a:visited{
    text-decoration-line: unset;
    text-decoration-style: inherit;
    text-decoration-color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: rgb(50, 195, 205);
}

#contact {
    color: brown;
}

#menu {
    background-color: rgb(38, 228, 218);
    margin: 0em;
    border-style: solid;
    border-color:  #18c050 #c01818 #5318c0 rgb(81, 199, 101);

    border-width: 0.3em;
    padding: 0.1em;
    margin: 0em auto;
    width: 50%;
    height: 2em;
    text-align: center;
    line-height:2em;
    
}

.list_to_drink {
    
}